XML/people.xsd

<?xml version="1.0"?>
<xs:schema
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns="http://webis.de/people"
    targetNamespace="http://webis.de/people"
    elementFormDefault="qualified">

<xs:element name="people">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="person" type="personType"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:complexType name="personType">
    <xs:sequence>
        <xs:element name="name" type="xs:string"/>
        <xs:element name="surname" type="xs:string"/>
        <xs:element name="job" type="xs:string"/>
    </xs:sequence>
</xs:complexType>

</xs:schema>
